<h1>Login User</h1>

<%= form_for :login, url: sessions_path, method: :post, class: "" do |f| %>
   <%= f.label :Username %>
   <%= f.text_field :username %>
   
  <%= f.label :password %>
  <%= f.password_field :password %>

   <%= f.submit "Login" %>
<% end %>
