<h1><%= @product.name %></h1>
<br>
<em><%= @product.scientific_name%></em>
<hr>
<br>
<p><%= @product.fun_fact%></p>

<br>
<br>
<br>
<br>
<br>
<%= form_with scope: :review, url:reviews_path, method:"POST", local: true do |form| %>
<p>
 <%= collection_select(:user, :id, @users, :id, :username) %>
<br>
<br>
   <%= form.label :How_would_you_rate_this_plant? %><br>
    <%= form.number_field :rating %>
 
  <p>
    <%= form.label :Any_care_tips? %><br>
    <%= form.text_area :content %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>



<% @product.reviews.each do |r| %>
     <p><%= r.content%></p>
     <%end%>