<h1><%= @product.name %></h1>
<br>
<em><%= @product.scientific_name%></em>
<hr>
<br>
<p><%= @product.fun_fact%></p>

<br>
<br>
<%= form_for @review do |form| %>
<p>
 <%#= collection_select(:user, :id, @users, :id, :username) %>
<br>
<br>
   <%= form.label :How_bossy_is_she? %>
    <%= form.number_field :rating %>
 
  <p>  <br>    
              .:Love Tips:.
    <%= form.label :How_do_you_care_for_her? %>
    <%= form.text_area :content %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>



<% @product.reviews.each do |r| %>
     <p><%= r.content%></p>
     <%=button_to "Delete Review", delete_review_path(r.id), :method => :delete %>
     <%= link_to "<button>Edit Review</button>".html_safe, edit_review_path(r.id) %>
     <%end%>

 