<h1>New Review</h1>


<%= form_with scope: :review, url:reviews_path, local: true do |form| %>
  <p>
    <%= form.label :Product %><br>
    <%= form.text_field :title %>
  </p>

   <%= form.label :rating %><br>
    <%= form.number_field :rating %>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>