<!DOCTYPE html>
<html>
  <head>
    <title>Bloom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body>
  
  
</html>

<div style="margin-right: 10px">
 <% if session[:current_user] %>
    <%= link_to "Logout", user_path(session[:current_user]["id"]), method: :delete, data: { confirm: "Are you sure?" } %>  | <%= session[:current_user]["username"] %>
<% else %>
   <%= link_to "Login", new_sessions_path %>
 <% end %>
</div>

<%= notice %>
    <%= yield %>
  </body>
</html>
